<div class="ui grid container">
    <div class="row">
        <div class="ui basic segment">
            <h1 class="ui header">
                <%- page.title %>
                <div class="sub header">
                    文章创建于：
                    <%- date(page.date) %>，最后修改于：<%- date(page.updated) %>
                </div>
            </h1>
            <% if (is_post()) { %>
                <% page.categories.forEach(function (category) { %>
                    <a class="ui blue mini label" href="<%- url_for(category.path) %>">
                        <i class="block layout icon"></i>
                        <%- category.name %>
                        <div class="detail">
                            <%- category.posts.length %>
                        </div>
                    </a>
                <% }); %> 

            <% } %>


        </div>
    </div>

    <div class="row" id="article">
        <div class="eleven wide column">
            <%- page.content %>
            <div class="ui basic segment">
                <div class="ui basic circular huge button">
                    <a href="#">Previous</a>
                </div>
                <div class="ui basic circular huge button">
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
        <%- partial('_partial/post-toc', {
            content: page.content,
            index: true
        }) %>
    </div>
</div>